html
  head
    title Speed Test
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='css/index.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.1.0.min.js', type='text/javascript')
    script(src='js/index.js', type='text/javascript')
  body
    h1 Speed Test
    button#start Start
    div.results
      span#result
      p kilobits per second
    div#histogram
